@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root{
  --bg-color: #f1f1f1;
  --conteiner-color: #dbdbdb;
  --font-color: black;
  --font-family: 'Open Sans', sans-serif;
  --bnt-color: #3b86a4;
}

@media (prefers-color-scheme: dark) {
  :root {
      --bg-color: #181d23;
      --conteiner-color: #1e242c;
      --font-color: #f1f1f1;
      --bnt-color: #327189;
    }
}

body {
  font-family: var(--font-family);
  background-color:var(--bg-color);
}
.h2-index-container{
  text-align: left;
  margin-bottom: 25px;
  margin-left: 5%;
  font-family: var(--font-family);
  color: var(--font-color);
}

.pl-inicial-container a{
  width: 45%;
  text-decoration: none;
}

.pl-inicial-container button{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 45%;
  padding: 8px;
  padding-left: 35px;
  border-radius: 15px;
  margin-bottom: 10px;
  margin-left: 5%;
  font-family: var(--font-family);
  background-color: var(--bnt-color);
  color: #f1f1f1;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--conteiner-color);
  margin-top: 100px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.my-custom-btn button {
  margin-top: 40px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 40px;
  color: var(--font-color);
  justify-content: center, space-around;
  transform: scale(1.5);
}

.my-custom-div a {
  justify-content: center, space-around;
  font-family: var(--font-family);
  color: var(--font-color);
  padding: 15px;
  text-decoration: none;
}

.container h2 {
  text-align: left;
  margin-bottom: 25px;
  font-family: var(--font-family);
  color: var(--font-color);
}

.container input[type='text'],
.container input[type='password'] {
  width: 100%;
  padding: 12px;
  padding-left: 22px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-family: var(--font-family);
}

.container input[type='submit'] {
  width: 100%;
  background-color: var(--bnt-color);
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-family: var(--font-family);
}

.container input[type='submit']:hover {
  background-color: var(--bnt-color)
}

@media screen and (max-width: 500px) {
  .container {
    margin-top: 50px;
  }
}