@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --bg-color: #f1f1f1;
  --conteiner-color: #dbdbdb;
  --font-color: black;
  --footer-color: $gray-600;
  --font-family-os: "Roboto", sans-serif;
  --font-family-ms: "Montserrat", sans-serif;
  --bnt-color: #3b86a4;
}

@media (prefers-color-scheme: dark) {
  :root {
      --bg-color: #1e242c;
      --conteiner-color: #2a3b42;
      --font-color: #f1f1f1;
      --bnt-color: #465B78;
      --footer-color: $gray-900;
    }
}

